*{
    font-family: "Helvetica", "Verdana", "open-sans";
}

h1, h2{
    text-align: center;
    background-color: gray;
}

img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button{
    text-decoration: none;
}